.comments-footer {
  font-size: 12px;
  font-weight: 600;
  display: inline;
  cursor: pointer;
}

.comments-container {
  margin: 15px 0px;
  border-radius: 10px;
  padding: 20px;
  background-color: #ebebeb;
}

.reply-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.reply-container p {
  margin-bottom: 0;
}

.reply-info {
  margin-left: 10px;
}

.reply-info h6 {
  margin-bottom: 0;
}

.reply {
  margin: 10px 20px 0px 0px;
}
.reply-name {
  font-weight: 600;
}
