@import '~bootstrap/scss/bootstrap';
@import './variables.scss';

@mixin makeChip($color, $textColor) {
  display: inline-block;
  padding: 8px 16px;
  font-size: 12px;
  border-radius: 25px;
  background-color: $color;
  color: $textColor;
}

.fa-icon,
.fa-icon:link,
.fa-icon:visited {
  color: #fff;
}

.btn-custom {
  background: $buttonColor;
  color: black;
  padding: 10px;
  border: 1px solid transparent;
  text-decoration: none;
  &:hover {
    background: #fff;
    border: 1px solid $primaryColor;
    text-decoration: none;
    color: black;
  }
}

.chip {
  @include makeChip($primaryColor, $white);
}

.article-chip {
  @include makeChip($secondaryColor, $color);
}

.btn-icon {
  cursor: pointer;
  border-radius: 100px;
}
/* ------------------------ */
/* small phones to small tablets 481px to 767px */
/* ------------------------ */
@media only screen and (max-width: 767px) {
  .hero-image {
    display: none;
  }
}

/* ------------------------ */
/* small phones 0 to 480px */
/* ------------------------ */
@media only screen and (max-width: 425px) {
  .custom-shape-divider-bottom-1613237233 svg {
    width: calc(170% + 1.3px);
  }
}
